.routingMain {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
}

.routingPath {
  background: #ffffff70;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  padding: 3%;
  margin: 6% 0 -5% 5%;
  width: 40vw;
  height: 70vh;
  /* overflow: scroll; */
}

.routingBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.routingList {
  height: 85%;
  width: 100%;
  overflow: scroll;
}

.routingPathTitle {
  border-bottom: 2px solid black;
  width: 60%;
}

.reasons {
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;
  border: none;
}

.editReasons {
  width: 40%;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;

}

.routingNumber {
  width: 5%;
  border: none;
  /* color: #858B95;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  color: black;
}

.routeId {
  width: 15%;
  border: none;
}

.googleMap {
  position: relative;
  background: #858B95;
  margin: 6% 5% 5% 5%;
  height: 77vh;
  width: 60vw;
  /* border: 5px solid #ffffff70; */
  border-radius: 25px;
  padding: 1%;
}

.routeDelete {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  align-self: center;
  /* justify-content: center; */
  cursor: pointer;
  padding: 0;
  border: 1px solid black;
  /* background:white;
  text-align: center; */
}

.addBtn, .saveBtn {
  display: flex;
  justify-content: center;
  position: relative;
  background: none;
  border: 2px solid black;
  font-size: 1em;
  outline: none;
  width: 65px;
}

.addBtn {
  left: 40%;
  bottom: 7vh;
}

.saveBtn {
  right: 40%;
  bottom: 10vh;
}

.addBtn:hover, .saveBtn:hover{
  background: #737881;
  cursor: pointer;
}

.addBtn:active, .saveBtn:active {
  transform: translateX(.5px) translateY(.5px)
}

.hidden {
  display: none;
}

.routeAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routingDrag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.routingDrag span {
  height: 2px;
  width: 20px;
  background: black;
  margin: 2px;
}

.addTitle {
  height: 5vh;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
}

.title {
  display: absolute;
  top: 0;
  z-index: 5;
  margin: 9vh 0 0 20vw;
  color: white;
  font-family: 'Jim Nightshade', cursive;;
  font-size: 5em;
  font-weight: bold;
}

.button {
  position: absolute;
  display: inline-block;
  border-radius: 4px;
  background: none;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 2vw;
  height: 20px;
  z-index: 9;
  outline: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}

#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 7vh;
  padding: 10px;
  border: 1px solid black;
}

.routingTitle {
  position: absolute;
  width: 100vw;
  margin: 0vh auto;
  color: white;
  font-family: 'Jim Nightshade', cursive;;
  font-size: 4em;
  font-weight: bold;
  border: none;
  text-shadow: 3px 3px 3px #969696;
  z-index: 5;
}