.homeDiv {
  display: flex;
  flex-direction: column;
  background: url('/images/starry-night.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.homeBody {
  animation: fade-in 0.3s
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.homeTitle {
  margin: 9vh auto;
  color: white;
  font-family: 'Jim Nightshade', cursive;;
  font-size: 9em;
  font-weight: bold;
  border: none;
  text-shadow: 5px 4px 3px #969696;
}

.homeBtn {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.link {
  cursor: auto;
}

.homeLogin, .homeReg {
  margin: 50px;
  height: 75px;
  width: 225px;
  outline: none;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 2px #969696;
  transition: 0.2s;
  cursor: pointer;
}
.homeLogin:hover, .homeReg:hover {
  border: 2px solid #929292;
  background: #d1d1d1c5;
  color: #2b2b2b;
  box-shadow: 4px 7px 5px 0px #3f3f3fd3;
}

.homeLogin:active, .homeReg:active {
  box-shadow: 3.5px 6px 5px 0px #3f3f3fd3;
  transform: translateY(1px) translateX(.5px)
}