.navbarMain {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  padding: 0 2vw;
  /* background: rgba(0, 0, 0, .7); */
  width: 96vw;
  height: 80px;
  color: white;
  z-index: 1;
}

.navbarImg {
  height: 70px;
  width: 70px;
  border-radius: 80px;
  /* margin: 0 20px; */
}

.navbarTitle {
  border: none;
  width: 30%;
}

.navbarName {
  width: 100px;
  overflow: auto;
  text-align: center;
}

.userDisplay {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 13vw;
}

.navbarMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  /* margin-left: 15px; */
}

.navbarMenuBox {
  display: flex;
  /* margin-left: 10px; */
}


.navbarMenu span {
  height: 6px;
  width: 6px;
  background: #ffffffb3;
  margin: 2px;
}

.navbarMenuBox:hover > .navbarMenu span {
  animation: spin .5s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1)
  }
  50% {
    transform: rotate(45deg) scale(1.3)
  }
  100% {
    transform: rotate(90deg) scale(1)
  }
}

.navbarTabMain {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #858B95;
  top: 6vh;
  height: 10vh;
  width: 5.5vw;
  color: black;
  border: 2px inset;
  border-radius: 5px;
  transition: scaleY(10);
  animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.navbarTabLink:hover {
  color: #28e7ee;
  cursor: pointer;
} 

@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}