.routesMain {
  /* background: blue; */
  height: 50vh;
  margin: 0 10vw 12vh 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.routelistMain {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.routeDiv {
  display: flex;
  justify-content: space-evenly;
  background: #cacacac0;
  width: 70vw;
  color: black;
  border: 2px solid #ffffffd5;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  margin: 1vh;
  padding-right: 6%;
}

.routeDiv h1 {
  width: 13vw;
  border-bottom: 5px solid black;
  margin-right: 1vw;
}

.routeDiv h2 {
  display: flex;
  justify-content: center;
}

.routeDiv:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.routeImg {
  height: 13vh;
  width: 120px;
  border-radius: 50%;
  margin: auto 2vw;
}

.title {
  margin: 9vh 0 0 20vw;
  color: white;
  font-family: 'Jim Nightshade', cursive;;
  font-size: 5em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #969696;
}

.routeList {
  display: flex;
  height: 18vh;
}

.addRoute {
  position: relative;
  right: -85%;
  top: -5%;
  color: white;
  border: 2px solid white;
}

.deleteRoute {
  position: relative;
  right: 9%;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  border: 2px solid white;
  z-index: 90;
}

.addRoute, .deleteRoute {
  display: flex;
  justify-content: center;
  background: none;
  font-size: 1em;
  outline: none;
  width: 110px;
  height: 40px;
}

.addRoute:hover, .deleteRoute:hover {
  background: #737881;
  cursor: pointer;
}

.addRoute:active, .deleteRoute:active {
  transform: translateX(.5px) translateY(.5px)
}