.sidebarMain {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  padding-top: 1vh;
  background: #000000b3;
  height: 100vh;
  width: 17vw;
  display: flex;
}

.sidebarUl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebarLink {
  list-style: none;
  font-size: 2em;
  color: black;
  text-decoration: underline;
  line-height: 1.5em;
}

.sidebarLink:hover {
  color: #28e7ee;
  cursor: pointer;
}