.registerBody {
  position: absolute;
  padding: 5%;
  top: 15%;
  right: 38%;
  height: 55%;
  width: 15vw;
  background: #ffffff90;
  border-radius: 5%;
  animation: fade-in 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100%{
    opacity: 1
  }
}

.registerDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgDiv {
  display: flex;
  position: relative;
  justify-content: center;
  height: 32% ;
  width: 55%;
  border-radius: 50%;
  overflow: hidden;
}

.registerImg {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.addPhoto {
  display: flex;
  font-size: 0.7em;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #50505090;
  width: 87%;
  height: 25%;
  bottom: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
}

input.fileUpload {
  position: absolute;
  margin: 0;
  bottom: 0;
  background: blue;
  height: 25%;
  width: 87%;
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
}

.registerDiv h1 {
  border-bottom: 1px solid black;
  font-size: 2em;
  width: 80%;
  text-align: center;
}

.register_inputDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.register_inputDiv input {
  margin: 5%;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  width: 70%;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  outline: none;
}

.registerName {
  display: flex;
  width: 80%;
}

.registerBtnMain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.registerBtn {
  background: #dfdfdf;
  height: 20px;
  width: 70px;
  outline: none;
  border-radius: 2px;
}

.registerBtn:active {
  background: #d1d1d1c5;
}