.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
  position: absolute;
  top: 15%;
  right: 40%;
  height: 30%;
  width: 11vw;
  background: #ffffff70;
  border-radius: 5%;
  border: 1px solid black;
}

h1 {
  border-bottom: 1px solid black;
  font-size: 2em;
  width: 70%;
  text-align: center;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 150%;
}

input {
  margin: 5%;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  width: 90%;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  outline: none;
}

button {
  width: 40%;
  cursor: pointer;
}