.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 40%;
  height: 35%;
  width: 14vw;
  background: #ffffff90;
  border-radius: 5%;
  border: 1px solid black;
  animation: fade-in 0.3s
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100%{
    opacity: 1
  }
}

.loginTitle {
  margin: 0vh auto;
  color: white;
  font-family: 'Jim Nightshade', cursive;;
  font-size: 6em;
  font-weight: bold;
  border: none;
  text-shadow: 5px 4px 3px #969696;
  animation: move-title 0.3s
}

@keyframes move-title {
  0% {
    margin: 9vh auto;
    font-size: 9em
  }
  100% {
    margin: 0 auto;
    font-size: 6em;
  }
}

h1 {
  border-bottom: 1px solid black;
  font-size: 2em;
  width: 70%;
  text-align: center;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 140%;
  height: 200px;
}

input {
  margin: 5%;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  width: 90%;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  outline: none;
}

.hidden {
  display: none;
}

.hiddenEye {
  position: relative;
  left: 85%;
  top: -22%;
  height: 10%;
  width: 8%;
  opacity: .5;
  z-index: 100;
  cursor: pointer;
}

.errorMsg {
  position: absolute;
  color: red;
  font-size: .5em;
  bottom: 0;
}

.loginBtnMain {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 150%;
  height: 13%;
}

.loginBtn {
  background: #dfdfdf;
  height: 20px;
  width: 70px;
  outline: none;
  border-radius: 2px;
}

.loginBtn:active {
  background: #d1d1d1c5;
}